version: '3'
services:
#  db:
#    image: mysql
#    ports:
#      - 3306:3306
#    volumes:
#      - ./storage/db:/var/lib/mysql
#      - ./scripts:/docker-entrypoint-initdb.d
#    environment:
#      - MYSQL_ROOT_PASSWORD=admin
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./rabbit_definitions.json:/etc/rabbitmq/rabbit_definitions.json
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./storage/rabbitmq1:/var/lib/rabbitmq
    working_dir: /var/lib/rabbitmq
    environment: 
      - RABBITMQ_ERLANG_COOKIE=secret_pass
      #- RABBITMQ_DEFAULT_USER=admin
      #- RABBITMQ_DEFAULT_PASS=admin
      #- RABBITMQ_LOAD_DEFINITIONS=./rabbit_definitions.json
volumes:
  #db:
  rabbitmq: