## SONAR LOCAL: mvn clean verify sonar:sonar -Dsonar.projectKey=Imovato -Dsonar.host.url=http://localhost:9000 -Dsonar.login=sqp_8065f01e13e240636a05812095cc3af86e62507c
server:
  port: 5757

spring:
  application:
    name: cadastral
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      discovery:
        service-id: config-server

  jpa:
    generate-ddl: false

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  jmx:
    enabled: false

  data:
    mongodb:
      host: localhost
      port: 27017
      database: cadastral
      auto-index-creation: true


  rabbitmq:
    host: localhost
    port: 5672
    username: un_user
    password: un_user

crud:
  rabbitmq:
    exchanges:
      exchangeAccommodations: crud.fanout.register-accommodations
      exchangeUsers: crud.fanout.register-users
    queues:
      accommodationQueue: crud.register-accommodations.queue
      userQueue: crud.register-users.queue

ead:
  serviceRegistry:
    username: un_user
    password: 'un_user'

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: 'http://${ead.serviceRegistry.username}:${ead.serviceRegistry.password}@localhost:8761/eureka'
app:
  uploads-dir: C:/Users/Samuel Modesto/OneDrive/Documentos/Projetos/TCC/imovato/backend/cadastral/uploads/