server:
  port: 8081
  servlet:
    context-path: /crudService
    
spring:
  application:
    name: CrudService
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/crud_db?useTimezone=true&serverTimezone=UTC
    username: root
    password: admin

  rabbitmq:
    host:  localhost
    port: 5672
    username: guest
    password: guest

crud:
  rabbitmq:
    exchange: crud.exchange
    routingkeyProperty: crud.property.routingkey
    routingkeyUser: crud.user.routingkey
    authExchange: auth.exchange
    signupQueue: auth.signup

eureka:
  instance:
    hostname: localhost
  client: 
    serviceUrl:
      defaultZone: http://localhost:8087/discovery/eureka
  